{% extends 'base.html' %}
{% load static %}

{% block css %}
    <link href="{% static 'css/login.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
    <div class="container">
        <div style="height: 500px;" class="row justify-content-md-center align-items-center">
            <div class="col-4">
                {% block form_content %}
                    <h2 style="margin-bottom: 10px">Вход в систему</h2>
                    {% if messages %}
                        {% for mes in messages %}
                                {% if 'error' in mes.tags %}
                                    <a onclick="$('.alert').alert('close');" style="text-decoration: none;cursor: pointer;">
                                        <div id="alert" class="alert alert-danger">
                                            <span>{{ mes }}</span>
                                        </div>
                                    </a>
                                {% endif %}
                        {% endfor %}
                     {% endif %}
                    <form action="{% url 'login' %}" method="post">
                    {% csrf_token %}
                      <div class="form-group">
                        <label for="exampleInputEmail1">Email</label>
                        <input name="email" type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
                      </div>
                      <div class="form-group">
                        <label for="exampleInputPassword1">Пароль</label>
                        <input type="password" name="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
                      </div>
                      <button type="submit" class="btn btn-primary">Войти</button>
                      <a style="margin-left: 10px" href="{% url 'register' %}" class="btn-link">Регистрация</a>
                    </form>
                {% endblock %}
            </div>
        </div>
    </div>

{% endblock %}