{% extends 'user/login.html' %}

{% block form_content %}
    <div class="jumbotron">
        <p>Вы зарегистрированы в системе</p>
        <p class="lead">
            <a class="btn btn-primary btn-lg" href="{% url 'login' %}" role="button">Войти</a>
        </p>
    </div>
{% endblock %}