{% extends 'user/login.html' %}
{% load static %}

{% block form_content %}
    <h2 style="margin-bottom: 10px">Регистрация</h2>
    {% if messages %}
        {% for mes in messages %}
                {% if 'error' in mes.tags %}
                    <a onclick="$('.alert').alert('close');" style="text-decoration: none;cursor: pointer;">
                        <div id="alert" class="alert alert-danger">
                            <span>{{ mes }}</span>
                        </div>
                    </a>
                {% endif %}
        {% endfor %}
     {% endif %}
    <form action="{% url 'register' %}" method="post">
    {% csrf_token %}
        <div class="form-group">
            <label for="exampleInputEmail1">Email</label>
            <input name="email" type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
        </div>
        <div class="form-group">
            <label for="exampleInputPassword1">Пароль</label>
            <input type="password" name="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
        </div>
        <div class="form-group">
            <label for="exampleInputPassword1">Повторите пароль</label>
            <input type="password" name="repeat_password" class="form-control" id="exampleInputPassword1" placeholder="Password">
        </div>
        <button type="submit" class="btn btn-primary">Зарегистрироваться</button>
        <a style="margin-left: 10px" href="{% url 'login' %}" class="btn-link">Вход</a>
    </form>
{% endblock %}