{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css"
          integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'css/font-awesome-4.7.0/css/font-awesome.css'%}">

    <meta charset="UTF-8">
    {% block css %}
    {% endblock %}
    <title>{{ title }}</title>
</head>
<body>

{% block content %}
{% endblock %}

<script src="{% static 'js/jquery-3.2.1.min.js' %}"></script>
{% block js %}{% endblock %}

</body>
</html>