{% load static %}
<!DOCTYPE html>
<html>
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css"
          integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">


    <link rel="stylesheet" href="https://unpkg.com/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://unpkg.com/froala-editor/css/froala_editor.pkgd.min.css">
    <link rel="stylesheet" href="https://unpkg.com/froala-editor/css/froala_style.min.css">

    <script src="https://unpkg.com/jquery/dist/jquery.min.js"></script>
    <script src="https://unpkg.com/froala-editor/js/froala_editor.pkgd.min.js"></script>

    <title>Заметки</title>
    <base href="/">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../static/angular/styles.css">

    <!-- Polyfills -->
    <script src="https://unpkg.com/core-js/client/shim.min.js"></script>

    <!-- Update these package versions as needed -->
    <script src="https://unpkg.com/zone.js@0.8.4?main=browser"></script>
    <script src="https://unpkg.com/systemjs@0.19.39/dist/system.src.js"></script>

    <script src="{% static 'angular/systemjs.config.js' %}"></script>

    <script>
        System.import('{% static 'angular/main.js' %}').catch(function (err) {
            console.error(err);
        });
    </script>
</head>

<body>

<my-app>Загрузка ...</my-app>

</body>
</html>
