{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class="container">
        <div style="height: 500px;" class="row justify-content-md-center align-items-center">
            <div class="col-7">
                <div class="jumbotron">
                    <div class="row">
                        <div class="col-9">
                            <h3 class="display-6">{{note.title}}</h3>
                            <span>{{note.creation}}</span>
                        </div>
                        <div class="col-3 text-right">
                            <span class="badge badge-pill badge-primary">{{note.category.name}}</span>
                            <a class="ml-3" href="" onclick="return false;">
                                <i class="fa {% if note.favourite %}fa-start{% else %}fa-star-o{% endif %}" aria-hidden="true"></i>
                            </a>
                        </div>
                    </div>
                    <hr class="my-2">
                    <p>{{ note.content | safe }}</p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
