<div class="row mb-5">
    <div class="col-8">
        <div *ngIf="notes">
            <div *ngIf="notes.length>0;else emptyNotes;">
                <div *ngFor="let note of notes">
                    <div class="jumbotron">
                        <div class="row">
                            <div class="col-9">
                                <h3 class="display-6">{{note.title}}</h3>
                                <span>{{note.creation | amLocal | amDateFormat: 'YYYY-MM-DD HH:mm'}}</span>
                            </div>
                            <div class="col-3 text-right">
                                <span class="badge badge-pill badge-primary">{{note.category.name}}</span>
                                <a class="ml-3" href="#">
                                    <i (click)="addToFavourites(note)" class="fa" [class.fa-star]="note.favourite"
                                       [class.fa-star-o]="!note.favourite" aria-hidden="true"></i>
                                </a>
                            </div>
                        </div>
                        <hr class="my-2">
                        <p [innerHtml]="note.content"></p>
                        <div class="row">
                            <div class="col-5">
                                <a class="btn btn-outline-primary btn-sm"
                                   [routerLink]="['/notes', note.id]">Изменить</a>
                                <a class="btn btn-outline-primary ml-2 btn-sm" (click)="deleteNote(note.id)" href="">Удалить</a>
                            </div>
                            <div class="col-7 text-right">
                                <a (click)="showLink(note)" *ngIf="note.published" href=""
                                   class="ml-2 btn btn-link btn-sm">
                                    <div *ngIf="!note.linkVisible;else hideLink">
                                        Получить ссылку
                                    </div>
                                </a>
                                <a href="" (click)="publish(note);" class="ml-2 btn btn-outline-primary btn-sm">
                                    <div *ngIf="!note.published;else elseBlock">
                                        Опубликовать
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="row mt-3" [class.hidden]="!note.linkVisible">
                            <div class="col-12">
                                <input class="form-control" [value]="linkUrl+note.id" type="text"
                                       placeholder="Readonly input here…" readonly>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-4">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Сортировка</h4>

                <button class="btn-link" (click)="sortDate()" style="padding-left: 0;padding-right: 10px;">Дата</button>
                <button class="btn-link" (click)="sortCategory()" style="padding-left: 0;padding-right: 10px;">
                    Категория
                </button>
                <button class="btn-link" (click)="sortFavourites()" style="padding-left: 0;padding-right: 10px;">
                    Избранное
                </button>
            </div>
        </div>
        <div class="card mt-3" *ngIf="categories">
            <div class="card-body">
                <h4 class="card-title">Фильтр</h4>
                <h6 class="mt-3 mb-2 text-muted">Заголовок</h6>
                <input #title class="form-control">
                <button (click)="filterTitle(title.value)" type="button" class="btn btn-sm btn-primary mt-2">
                    Фильтровать
                </button>
                <button (click)="title.value='';returnNotes()" type="button" class="btn btn-sm btn-primary mt-2">
                    Отменить
                </button>
                <hr class="my-3">

                <h6 class="mb-3 text-muted">Дата создания</h6>

                <div class="row">
                    <div class="col-7">
                        <button (click)="returnNotes()" class="btn-link">Любая дата</button>
                    </div>
                    <div class="col-7">
                        <button (click)="filterDate('today')" class="btn-link">Сегодня</button>
                    </div>
                    <div class="col-7">
                        <button (click)="filterDate('week')" class="btn-link">Эта неделя</button>
                    </div>
                    <div class="col-7">
                        <button (click)="filterDate('month')" class="btn-link">Этот месяц</button>
                    </div>
                    <div class="col-7">
                        <button (click)="filterDate('year')" class="btn-link">Этот год</button>
                    </div>
                </div>

                <hr class="my-3">

                <h6 class="mb-3 text-muted">Категория</h6>

                <div class="row">
                    <div class="col-7">
                        <button (click)="returnNotes();" class="btn-link">Все</button>
                    </div>
                    <div *ngFor="let cat of categories" class="col-7">
                        <button (click)="filterCategory(cat)" class="btn-link">{{cat.name}}</button>
                    </div>
                </div>

                <hr class="my-3">

                <h6 class="mb-3 text-muted">Избранное</h6>


                <button (click)="returnNotes()" class="btn-link">Все</button>
                <button (click)="filterFavourites(true)" class="btn-link">Да</button>
                <button (click)="filterFavourites(false)" class="btn-link">Нет</button>
            </div>
        </div>
    </div>
</div>

<ng-template #elseBlock>
    Снять с публикации
</ng-template>
<ng-template #hideLink>
    Скрыть ссылку
</ng-template>

<ng-template #emptyNotes>
    Заметки отсутствуют...
</ng-template>